* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(188, 190, 202);
}

h1 {
    margin-bottom: 20px;
}

label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    color: #000000;
}

#box-container {
    display: flex;
    height: calc(100% - 20%);
    width: calc(100% - 35%);   
    flex-wrap: wrap;
    border: 30px solid rgb(247, 203, 91);
    border-radius: 20px;
}

.boxes {
    height: 6.25%;
    width: 6.25%;
    opacity: 0;
    transition: opacity 10s ease-in-out;
}

.boxes:hover {
    opacity: 1;
    transition: opacity 0s;
}


#user-input {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5em;
    gap: 10px;
}

#button {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(247, 203, 91);
}

.input-field {
    border-radius: 5px;
}
